* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: 70px;
  align-items: center;
}
.razorpay_logo {
  min-width: 100px;
}
.nav_bar {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: 550px;
}
.nav_bar a {
  text-decoration: none;
  font-family: var(
    --framer-blockquote-font-family,
    var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
  );
  font-style: var(
    --framer-blockquote-font-style,
    var(--framer-font-style, normal)
  );
  font-size: 16px;
  color: rgb(25, 40, 47);
  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: white;
  padding: 10px;
}
.nav_bar a:hover {
  color: rgb(48, 94, 255);
  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(48, 94, 255);
}
.action_bar {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: 300px;
}
.country_tab {
  padding: 6px 6px;
  width: 55px;
  height: 20px;
  box-sizing: content-box;
  border: 1px solid white;
}
.service_bar {
  padding: 6px;
}
.login a button {
  padding: 6px 6px;
  box-sizing: content-box;
  width: 30px;
  height: 20px;
  border: 1px solid rgb(48, 94, 255);
  font-size: 12px;
  font-family: sans-serif;
  border-radius: 4px;
  color: rgb(48, 94, 255);
  background-color: white;
}
.signup a button {
  font-family: "Inter-SemiBoldItalic", Inter, "Inter Placeholder", sans-serif;
  font-size: 14px;
  color: white;
  background-color: rgb(48, 94, 255);
  border: 1px solid rgb(48, 94, 255);
  border-radius: 4px;
  width: 75px;
  height: 20px;
  padding: 6px 6px;
  box-sizing: content-box;
}
.banner_image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.banner_text {
  position: absolute;
  z-index: 1;
  left: 20%;
  top: 10%;
}
.banner_text h3 {
  font-size: 48px;
  font-family: "Inter", Inter Placeholder, sans-serif;
}
.banner_text h3 span {
  color: rgb(48, 94, 255);
}
.banner_text button {
  font-family: "Inter-SemiBold", "Inter", "Inter Placeholder", sans-serif;
  font-size: 16px;
  color: white;
  background-color: rgb(48, 94, 255);
  border: 1px solid rgb(48, 94, 255);
  border-radius: 4px;
  width: 115px;
  height: 30px;
  padding: 6px 6px;
  box-sizing: content-box;
}
.banner_image img {
  width: 1000px;
}
.banner_text h1 {
  position: absolute;
  left: 335px;
  bottom: 290px;
}
.action_buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
  border-left: 2px;
  border-left-style: solid;
  border-left-color: rgb(48, 94, 255);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-radius: 2px;
}
.action_buttons button {
  font-family: var(
    --framer-blockquote-font-family,
    var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
  );
  font-size: 12px;
  border: 0px;
  border-color: rgba(121, 135, 156, 0.18);
  background-color: #dce6e94d;
  border-radius: 30px;
  padding: 6px 12px;
}
.text1 {
  font-family: "Inter", Inter Placeholder, sans-serif;
  font-size: 12px;
  color: #768ea7;
}
.action_buttons span {
  padding: 5px;
}
.promotion {
  width: 1000px;
}
.feature_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.heading1 {
  text-align: left;
  margin-left: 20%;
  font-size: 40px;
}
.heading2 {
  text-align: left;
  margin-left: 20%;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 20%;
}
.heading2 a {
  text-decoration: none;
  color: black;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  font-size: 16px;
}
.heading2 h3 {
  font-family: R0Y7TGF0by1yZWd1bGFy;
  font-size: 16px;
  color: rgb(135, 148, 167);
}
.heading3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
}
.heading3 a {
  text-decoration: none;
  color: rgb(118, 142, 167);
  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: #f8fafc;
  padding: 10px;
}
.heading3 a:hover {
  color: #192839;
  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(72, 208, 140);
}
.heading3 button {
  color: white;
  background-color: rgb(48, 94, 255);
  border: 1px solid rgb(48, 94, 255);
  border-radius: 4px;
  padding: 6px 6px;
  box-sizing: content-box;
  font-family: "Inter-SemiBold", "Inter", "Inter Placeholder", sans-serif;
  font-size: 16px;
}
.card1_content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(108, 132, 157);
}
.card1_content a {
  text-decoration: none;
  color: rgb(118, 142, 167);
  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: #f8fafc;
  padding: 10px;
}
.card1_content a:hover {
  color: #192839;
  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(72, 208, 140);
}
.card1_image {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);;
}
.image {
  width: 100%;
  border-radius: 10px;
}
.card_heading {
  margin-left: 20%;
  font-size: 32px;
  font-family: "TASA Orbiter Display SemiBold",
    "TASA Orbiter Display SemiBold Placeholder", sans-serif;
}
.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.card h3 {
  margin: 10px 0;
  font-size: 18px;
  font-family: var(
    --framer-blockquote-font-family,
    var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
  );
  color: black;
}
.card p {
  color: #555;
  font-size: 14px;
}
.card1_image a {
  text-decoration: none;
}
.advertisement {
  margin-left: 20%;
}
.advertisement_content a {
  text-decoration: none;
  font-family: var(
    --framer-blockquote-font-family,
    var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
  );
  font-size: 16px;
  color: rgb(25, 40, 57);
  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: white;
  padding: 10px;
}
.advertisement_content a:hover {
  color: #192839;
  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(72, 208, 140);
}
.advertisement_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 20%;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(108, 132, 157);
}
.advertisement_text {
  background-color: white;
  z-index: 1;
  position: absolute;
  padding: 20px;
  border: 1px solid white;
  border-radius: 8px;
  position: absolute;
  left: 22%;
}
.advertisement_text h4 {
  font-size: 40px;
  font-family: "TASA Orbiter Display SemiBold",
    TASA Orbiter Display SemiBold Placeholder, sans-serif;
}
.advertisement_text span {
  color: #009e5c;
}
.advertisement_text p {
  font-size: 16px;
  color: #40566d;
}
.advertisement_text button {
  color: white;
  background-color: rgb(48, 94, 255);
  border: 1px solid rgb(48, 94, 255);
  border-radius: 4px;
  padding: 6px 6px;
  box-sizing: content-box;
  height: 30px;
  width: 120px;
  font-family: "TASA Orbiter Display SemiBold",
    "TASA Orbiter Display SemiBold Placeholder", sans-serif;
  font-size: 16px;
}
.advertisement h3 {
  font-family: "TASA Orbiter Display SemiBold",
    "TASA Orbiter Display SemiBold Placeholder", sans-serif;
  font-size: 56px;
}
.background {
  background-color: #f8fafc;
}
.width {
  width: 80%;
  margin-right: 20%;
}
.last_text {
  background-color: #f8fafc;
}
.last_text h5 {
  font-family: "TASA Orbiter Display SemiBold",
    "TASA Orbiter Display SemiBold Placeholder", sans-serif;
  font-size: 56px;
  margin-left: 20%;
}
.last_text button {
  color: white;
  background-color: rgb(48, 94, 255);
  border: 1px solid rgb(48, 94, 255);
  border-radius: 4px;
  padding: 6px 6px;
  box-sizing: content-box;
  height: 30px;
  width: 115px;
  margin-left: 20%;
  font-family: "Inter-SemiBold", "Inter", "Inter Placeholder", sans-serif;
  font-size: 16px;
}
.footer_container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}
.footer_logo{
  width: 100px;
  padding: 10px 10px 10px 0px;

}
.footer_column p{
  font-size: 12px;
  font-family: "Lato", "Lato Placeholder", sans-serif;
  color: rgb(137,150,169);
  line-height: normal;
}
.footer_column a{
  text-decoration: none;
  color: rgb(48, 94, 255);
  


}
.footer_column ul{
  list-style-type: none;
  line-height: 30px;
}
.footer_column h4{
  font-family: "Lato", "Lato Placeholder", sans-serif;
  font-size: 14px;
  color: rgb(64,86,109);
}
.footer_column button{
  padding: 4px 8px;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  font-size: 10px;
  color: rgb(0,135,67);
  background-color: rgb(0,135,67,0.1);
  opacity: 1;
  border: white 1px solid;
  border-radius: 8px;


}
.picture1{
  width: 80px;
}
#image1{
  padding: 10px 0px;
}

